.vb-embedded-player {
	height: 90px;
}

/** Footer*/
footer {
	margin-top: 50px;
	min-height:50px;
	background-color: whitesmoke;
}
.made-by{
	background-color: black;
	color: white;
	padding: 3px;
}

/** Notification Modal*/
#notification-modal .modal-header {
	background-color: #419641;
}

/** Error Modal*/
#error-modal .modal-header {
	background-color: #d9534f;
}
